body {
  margin: 0;
  font-family: Arial;
  background: #f0f0f0;
}
.navbar {
  background: #3949ab;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.sidebar {
  width: 200px;
  height: 100vh;
  background: #283593;
  padding-top: 20px;
  position: fixed;
}
.sidebar a {
  color: #fff;
  display: block;
  padding: 12px;
  text-decoration: none;
}
.sidebar a:hover {
  background: #1a237e;
}
.content {
  margin-left: 220px;
  padding: 20px;
}
.form-login {
  width: 350px;
  margin: 70px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}
input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}
button {
  width: 100%;
  padding: 10px;
  background: #3949ab;
  color: #fff;
  border: none;
}
button:hover {
  background: #1a237e;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table td,
.table th {
  border: 1px solid #ccc;
  padding: 10px;
}
.alert {
  background: #e53935;
  color: #fff;
  padding: 8px;
}
